@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
@import "./defaults.scss";

// * Heading
.heading-container {
  text-align: center;

  .blob {
    position: absolute;
    background-image: url("../assets/svg/bg-pattern.svg");
    @include bg;
    width: 100%;
    height: 450px;
    top: -1rem;
    left: 0;
    z-index: -100;

    @media screen and (max-width: 375px) {
    }
  }

  .heading-text {
    background-image: url("../assets/svg/pattern-circles.svg");
    @include bg;
    padding: 5rem;
  }
  h1 {
    color: map-get($colors, CTA-Background);

    @media screen and (max-width: 375px) {
      font-size: 1.25rem;
    }
  }

  p {
    display: inline;
  }

  span,
  p {
    @media screen and (max-width: 375px) {
      display: block;
    }
  }
}

// * Widget
.widget {
  width: 40rem;
  background: map-get($colors, Pricing-Component-Background);
  box-shadow: 0 1rem 2rem #00000012;
  border-radius: 1rem;
  margin-inline: auto;

  @media screen and (max-width: 375px) {
    width: fit-content;
    margin: 0 1rem;
  }
}

// * Top.jsx
.widget-top {
  font-size: 14px;

  .views-rate-container {
    display: flex;
    justify-content: space-between;

    p {
      display: flex;
      justify-content: center;
      align-items: center;

      .rate {
        color: map-get($colors, CTA-Background);
        font-size: 3rem;
        font-weight: 800;
      }
    }
  }

  .billing-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .billing-text,
    .MuiSwitch-root {
      font-size: 14px;
      margin-left: 1rem;
    }

    .discount {
      font-size: 0.75rem;
      color: map-get($colors, DiscountText);
      background: map-get($colors, DiscountBackground);
      padding: 0.125em 6px;
      border-radius: 10rem;
      font-weight: 800;
    }
  }
}

// * Bottom.jsx
.widget-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 375px) {
    flex-direction: column;
  }

  .perks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      margin-block: 1rem;
    }

    span::before {
      content: url("../assets/svg/icon-check.svg");
      color: map-get($colors, SliderBackground);
      font-weight: 800;
      margin-right: 1rem;
    }
  }

  .button-container {
    .start {
      background-color: map-get($colors, CTA-Background);
      color: map-get($colors, Toggle-Background);
      border-radius: 10rem;
      padding: 0.5rem 3rem;
      cursor: pointer;
    }
  }
}

.widget-top,
.widget-bottom {
  padding: 3rem;

  @media screen and (max-width: 375px) {
  }
}
