// prettier-ignore
$colors: (
  // * Text
  "Text": #858fad,
  "CTAText": #bdccff,
  
  // * Background
  "Main-Background": #fafbff,
  "Toggle-Background": #ced7ee,
  "Pricing-Component-Background": #fff,
  "CTA-Background": hsl(227, 35%, 25%),
  "DiscountBackground": #feece7,
  
  // * Slider
  "SliderBar": #a5f3eb,
  "SliderBackground": #10d5c2,
  "Empty-Slider-HR": hsl(226, 68%, 95%),

  // * Primary
  "DiscountText": hsl(15, 100%, 70%),  
);

@mixin inputBG {
  background-image: url(https://digitshack.com/codepen/mentor5/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@mixin bg {
  background-repeat: no-repeat;
  background-position: center;
}

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: map-get($colors, Text);
  margin: 0;
  padding: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 10rem;
  height: 10px;
  background: map-get($colors, SliderBar);
  margin-block: 4rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: map-get($colors, SliderBackground);
  @include inputBG();
  box-shadow: 0px 7px 10px 4px #10d5c233;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
  @include inputBG();
  filter: brightness(75%);
  cursor: grab;
}

hr {
  border: 1px solid map-get($colors, Empty-Slider-HR);
}
