@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

//* Top.jsx

.widget-top {
  font-size: 14px;

  .views {
  }

  input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 5px;
    height: 10px;
    background: hsl(174, 77%, 80%) 50%;
    cursor: pointer;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: hsl(174, 86%, 45%);
    background-image: url(https://digitshack.com/codepen/mentor5/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 7px 10px 4px #10d5c233;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #a5f3eb;
  }

  .rate {
  }

  .billing-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .discount {
      font-size: 0.75rem;
      color: #ff8c66;
      background: #feece7;
      padding: 0.125em 6px;
      border-radius: 10rem;
      font-weight: bold;
    }
  }
}
